/* Улучшенный CSS */

/* Установите единообразный шрифт и размер шрифта для лучшей читаемости */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #F0FFF0;
    color: #87CEEB;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Настройте стиль боковой панели */
aside {
    position: fixed;
    background: #87CEFA;
    width: 250px;
    padding: 20px;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

aside img {
    display: block;
    margin: 0 auto 20px;
    width: auto;
    height: 100px;
}

/* Центрирование логотипа и добавление отступа */
aside .logo {
    display: block;
    text-align: center;
    color: #FFF;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Стилизация элементов списка */
aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li {
    padding: 10px;
    border-bottom: 1px solid #708090;
}

/* Добавьте эффект наведения на элементы списка */
aside ul li:hover,
aside ul a:hover {
    background: #708090;
    color: #FFF;
    cursor: pointer;
}

/* Стилизация основного содержимого */
main {
    margin-left: 250px;
    padding: 20px;
}

/* Стилизация заголовков */
h1, h2, h3, h4, h5, h6 {
    color: #333;
}
